#background {
	background-image: url(/logo/logo-teal.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;;
	background-size: 50%;

	height: 100vh;
	width: 100vw;

	opacity: 0;

	animation-name: background-reveal;
	animation-delay: 1s;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
}

@keyframes background-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}
