a {
	color: #bbbbbbff;
	display: block;
	font-weight: normal;
	border: none;
	outline: none;
}

a:active,
a:focus,
a:link,
a:visited {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #ffd140ff;
	text-decoration: none;
	outline: none;
}

#footer a {
	color: #333333ff;
}

#footer a:hover {
	color: #008066ff;
	text-decoration: none;
	outline: none;
}
